* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

textarea,
.preview {
  height: 100%;
  width: 100%;

  padding: 2%;

  border: 3px solid white;

  background-color: #42425f;
  color: white;
}

.preview {
  overflow: auto;
}

.preview img {
  max-width: 100%;
}

textarea:focus {
  outline: 0px solid white;
}

textarea {
  resize: none;
}

.wrapper {
  height: 75vh;
}
